<div class="container my-5">
  <div class="card shadow">
    <div class="card-body">
      <h3 class="card-title text-center">Tasks app</h3>
      <hr>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">State</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasks">
            <th scope="row">{{ task.id }}</th>
            <td>{{ task.name }}</td>
            <td>
              <span class="badge"
                [ngClass]="{'bg-primary': task.state == 'Active', 'bg-secondary': task.state == 'Inactive'}">
                {{ task.state }}
              </span>
            </td>
            <td>
              <button class="btn btn-secondary btn-sm me-2" type="button">Edit</button>
              <button class="btn btn-danger btn-sm" type="button">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <footer class="mt-5">
    <p class="text-muted text-center">
      Developed by Jorge Torres <br>
      2022
    </p>
  </footer>
</div>
